[defaults]
interpreter_python  = /usr/bin/python3
inventory           = inventory/hosts.yml
roles_path          = ./roles
collections_path    = ./collections
host_key_checking   = False

[privilege_escalation]
become          = True
become_method   = sudo
become_user     = root
become_ask_pass = False

[ssh_connection]
pipelining = True
