[Unit]
Description=Daily apt upgrade and clean activities
After=apt-daily.timer

[Timer]
OnCalendar=*-*-* {{ daily_time['hour'] }}:{{ daily_time['minutes'] }}:00
RandomizedDelaySec=60m
Persistent=true

[Install]
WantedBy=timers.target
